<h1>books/index</h1>

<h2>New book</h2>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
 <div class="form-group">
  <label for="book_title">Title</label><br>
  <%= f.text_field :title %>
 </div>

 <div class="form-group">
  <label for="book_opinion">Opinion</label><br>
  <%= f.text_area :body %>
 </div>

 <div clas="form-group">
  <%= f.submit 'Create Book' %>
 </div>
<% end %>

<h2>Books</h2>

 <table class="table table-hover table-inverse">
  <thead>
   <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th colspan="3"></th>
   </tr>
  </thead>

  <% @books.each do |book| %>
   <tbody>
    <tr>
     <td><%= link_to "book.title", book_path(book.id), class: "book_#{book.id}" %></td>
     <td><%= book.body %></td>
    </tr>
   </tbody>
  <% end %>
 </table>
